
@font-face {
    font-family: 'Woodcutter Rocks';
    src: url("'../fonts/Woodcutter Rocks.ttf'") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rocks Personal Use';
    src: url("'../fonts/Rocks Personal Use.ttf'") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 535px) {
    #menuLateral {
        height: 100% !important;
        max-height: 100% !important;
        width: 25% !important;
        max-width: 25% !important;
    }

    .card {
        font-size: x-small;
    }
}

@media (max-width: 370px) {
    /*    body{
        width:27rem;
    }*/
    .card {
        width: 18rem;
    }
}

@media (max-width: 425px) {
    .card {
        font-size: small !important;
    }

    #menuLateral {
        max-width: 25vw !important;
    }

    #user {
        font-size: 10px !important;
    }
}

body {
    width: 100vw;
    max-width: 100vw;
}

.nav-link:hover {
    text-shadow: 0px 0px .7em #ffffcc, 0px 0px .2em #ffffcc, 0px 0px 0px black;
}

.txtDoble {
    text-shadow: 0px 0px 1em white, 0px 0px 1em white, 0px 0 0 BLACK;
}

a {
    text-decoration: none !important;
    background-color: inherit !important;
}

span {
    background-color: inherit
}

.error {
    /*background-color: lightgray;*/
    border-radius: 40px;
    text-align: center;
    overflow-wrap: break-word;
    width: 25em;
    color: black;
    opacity: 1;
    font-size: 36px;
    width: 100%;
    font-family: "Rocks Personal Use";
    font-style: normal;
}
#ContenedorGrilla::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#ContenedorGrilla::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#ContenedorGrilla::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left top, right top, from(#ffecd2), to(#fcb69f));
    background-image: -webkit-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

#ContenedorGrilla {
    scrollbar-color: #33b5e5 #F5F5F5;
}
#ContenedorGrilla {
    justify-content: flex-start;
    height: 90vh;
    max-height: 100%;
}

#grilla {
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: start;
    height: 100%;
    flex-wrap: wrap;
    max-height: 80vh;
}

.container {
    height: 100vh !important;
    max-height: 100vh !important;
    width: 70% !important;
    max-width: 70% !important;
    padding: .5em 1em .5em 1em !important;
    padding: 0 !important;
}

#menuLateral {
    height: 100% !important;
    max-height: 100% !important;
    width: 30% !important;
    max-width: 20vw ;
}

@media (min-width: 1000px) {
    #menuLateral{
        max-width:17vw !important;
    }
}

.estado {
    font-family: Arial;
    font-size: small;
}

.card {
    min-height: 20em !important;
    font-family: fantasy;
    font-size: x-large;
    width: 18rem;
    opacity: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12), .6s background cubic-bezier(.155,1.105,.295,1.12), .6s opacity cubic-bezier(.155,1.105,.295,1.12), .6s color cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 3em 1em RGB(0,0,0,0.8);
        color: white;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
        opacity: 1 !important;
    }


/*
flip card
*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}
