
@font-face {
    font-family: 'Woodcutter Rocks';
    src: url("'../fonts/Woodcutter Rocks.ttf'") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Rocks Personal Use';
    src: url("'../fonts/Rocks Personal Use.ttf'") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 370px) {
    body{
        width:27rem;
    }
    .card{
        width:18rem;
    }
}

@media (max-width: 425px) {
    #user {
        font-size: 10px !important;
    }
}

.nav-link:hover {
    text-shadow: 0px 0px .7em #ffffcc, 0px 0px .2em #ffffcc, 0px 0px 0px black;
}

.txtDoble {
    text-shadow: 0px 0px 1em white, 0px 0px 1em white, 0px 0 0 BLACK;
}

a {
    text-decoration: none !important;
    background-color: inherit !important;
}

span {
    background-color: inherit
}

.error {
    /*background-color: lightgray;*/
    border-radius: 40px;
    text-align: center;
    overflow-wrap: break-word;
    width: 25em;
    color: black;
    opacity: 1;
    font-size: 36px;
    width: 100%;
    font-family: "Rocks Personal Use";
    font-style: normal;
}



.card {
    width: 18rem;
    opacity: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12), .6s background cubic-bezier(.155,1.105,.295,1.12), .6s opacity cubic-bezier(.155,1.105,.295,1.12), .6s color cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 3em 1em RGB(0,0,0,0.8);
        color: white;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
        opacity: 1 !important;
    }


/*
flip card
*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}