@page
@model IndexModel
@{
}

<script type="module" src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script type="module" src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="~/js/site.js"></script>
<script>
    location.replace("./Login");
</script>
<div class="text-center">
    <h1 class="display-4">Bienvenido!!</h1>
    <button id="prueba" onclick="Redirigir('../Login')">BOTON DE REDIRECCION</button>
</div>

<script type="text/javascript">
    function Redirigir(url) {
        location.replace(url);
    }
</script>