@page
@model PrincipalModel
@{
    ViewData["Title"] = "Principal";
}


<div class="text-center">
    <h2 id="bienvenida">Bienvenido @Model.oUsuarios.FirstOrDefault(x=> x.Cod_user.ToString() == Request.Cookies["user"]).Nombre !!</h2>
</div>